.hero-container{
    background: url("../../background.jpg") center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.2);
    object-fit: contain;
    overflow-x: hidden;
}
.one{
    height: 100vh;
    width: 100%;
    background: #C5C5C5;
}
h1{
    font-size: 50px;
    color: azure;
    font-family: "Bell MT";
}
.para{
    color: azure;
    font-family: "Bell MT";
    font-size: 30px;
    margin-top: 10%;

}
.contact{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #AEAEAE;
    color: white;
    font-family: "Bell MT";
}
.about{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #AEAEAE;
    color: white;
    font-family: "Bell MT";
}
.foot{
    margin-top:5%;
    color: white;

}
.foot-container{
    display: flex;
    flex-direction: column;
    height: 10vh;
    background:#2c3e4c;
    align-text: center;
    align-items: center;

}
.cart-main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background: #C5C5C5;
}
.cart-item-container{
    background: linear-gradient(45deg, #00a1fe 0%, #00a1fe 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.3);
    width: 280px;
    height: 300px;
    text-decoration: none;
    border-radius: 4px;
}
.checkout{
    font-size: large;
    font-weight: bold;
}
.checkout-total{
    display: inline;
    margin-right: 25px;
}
.checkout-button{
    font-weight: bold;
    background: cornflowerblue;
}
.bin{
    height: 40%;
    width: 25%;
}
.video{
    display: flex;
    align-items: center;
}
.page404{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #AEAEAE;
    color: white;
    font-family: "Bell MT";
}
@media screen and (max-width: 960px) {
    .video {
        flex-direction: column;
        margin-right: 350px;
    }
    h1{
        font-size: 30px;
        font-weight: bold;
    }
    .para{
        font-size: 25px;
    }
}
