.pricing__section{
    padding: 5px 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #C5C5C5;

}
button{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 40px 0px;
    border: none;
    cursor: pointer;
    font-family: "Bell MT";
}

.user{
    margin-left: 10%;
    font-family: "Bell MT";
}

.pricing__container-card{
    background: linear-gradient(45deg, #00a1fe 0%, #00a1fe 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.3);
    width: 280px;
    height: 500px;
    text-decoration: none;
    border-radius: 4px;
}
.pricing__container-card:nth-child(2){
    transform: scale(1.05);
    background: #2c9316;
    margin: 0 24px;
}
.pricing__container-card:hover{
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
}
.pricing__container{
    display: flex;
    color: #525252;
}
.pricing__container-card:nth-child(4){
    transform: scale(1.05);
    background: #2c9316;
    margin: 0 24px;
}
button{
    align-self: center;
    justify-content: center;
    align-content: center;
}
.pricing__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}
.pricing__heading{
    color: #1c2237;
    margin-bottom: 24px ;
}
.pricing__container-cardInfo{
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 24px;
    align-items: center;
    color: white;
    font-family: "Bell MT";
}
.pricing__container-cardInfo h3{
    margin-bottom: 5px;
    font-size: 24px;

}
.pricing__container-cardInfo h4{
    font-size: 20px;
    margin-bottom: 24px;
}
.pricing__container-features{
    margin: 16px 0 32px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    margin: 24px 0;
}
@media screen and (max-width: 1127px) {
    .pricing__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% ;
    }
    .pricing__container-card{
        width: 90%;
    }
    .pricing__wrapper{
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pricing__container-card:nth-child(2){
    transform: scale(1);
    background: #2c9316;
    margin: 15px;
    }
    .pricing__container-card:hover{
        transform: none;
    }
    .pricing__container-card:nth-child(4){
        transform: scale(1);
        background: #2c9316;
        margin: 15px;
    }
}
